{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Объявления</title>
    <link rel="stylesheet" href="{% static 'adv.css' %}">
</head>
<body>
<div class="container">
    <div class="div">
        <img class="image-1-icon" alt="" src="{% static 'public/image-1@2x.png' %}">
        <div class="buttons-container">
            <div class="div2">
                <p class="p"><a href="{% url 'home' %}" class="button-link">Главная</a></p>
            </div>
            <div class="div3"><a href="{% url 'contacts' %}" class="button-link">Контакты</a></div>
            <div class="div4">
    {% if user.is_authenticated %}
        <a href="{% url 'users:profile' pk=request.user.pk %}" class="button-link">Профиль</a>
    {% else %}
        <a href="{% url 'users:login' %}?next={{ request.path }}" class="button-link">Войти</a>
    {% endif %}
</div>

            <div class="div5"><a href="{% url 'products:index' %}" class="button-link">Объявления</a></div>
        </div>
    </div>

    <h1>Объявления</h1>

{% for advertisement in advertisements %}
<div class="advertisement">
    <img src="{{ advertisement.image.url }}" alt="{{ advertisement.title }}">
    <div>
        <h2>{{ advertisement.title }}</h2>
        <p>Цена: ${{ advertisement.price }}</p>
        <p>Описание: {{ advertisement.description }}</p>
        <p>Контактная информация: {{ advertisement.contact_info }}</p>
    </div>
</div>
{% endfor %}

</div>
</body>
</html>
