{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Объявления</title>
    <link rel="stylesheet" href="{% static 'adv.css' %}">
</head>
<body>
    <div class="container">
        <h1>Объявления</h1>
        {% for product in products %}
        <div class="advertisement">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <div>
                <h2>{{ product.name }}</h2>
                <p>Цена: ${{ product.price }}</p>
                <p>Описание: {{ product.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
