{% load static %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {% block css %}
            <link href="{% static 'adv_create.css' %}" rel="stylesheet">
        {% endblock %} 
        <label for="{{ form.image.id_for_label }}">Image:</label>
        {{ form.image }}
        <label for="{{ form.title.id_for_label }}">Title:</label>
        {{ form.title }}
        <label for="{{ form.slug.id_for_label }}">Slug:</label>
        {{ form.slug }}
        <label for="{{ form.description.id_for_label }}">Description:</label>
        {{ form.description }}
        <label for="{{ form.price.id_for_label }}">Price:</label>
        {{ form.price }}
        <label for="{{ form.contact_info.id_for_label }}">Contact Info:</label>
        {{ form.contact_info }}
    </div>
    <!-- другие поля -->
    <button type="submit" class="btn btn-primary">Создать объявление</button>
</form>
