.buttons-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.div2,
.div3,
.div4,
.div5 {
  line-height: 133.33%;
  display: inline-block;
  width: 192px;
  height: 51px;
  mix-blend-mode: normal;
}

.div2 {
  margin-right: 20px;
}

.div3 {
  margin-left: 20px;
}


/* Стили кнопок */
.button-link {
  display: inline-block;
  padding: 10px 20px; /* Регулировка отступов по мере необходимости */
  background-color: #ffffff; /* Цвет фона кнопки */
  color: #1e1f22; /* Цвет текста кнопки */
  text-decoration: none;
  border: 2px solid #ffffff; /* Граница кнопки */
  border-radius: 5px; /* Радиус границы кнопки */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Плавные переходы */
}

/* Стили при наведении на кнопку */
.button-link:hover {
  background-color: #0056b3; /* Изменение цвета фона при наведении */
  border-color: #0056b3; /* Изменение цвета границы при наведении */
  color: #ffffff; /* Изменение цвета текста при наведении */
}

/* Общие стили для страницы */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.advertisement {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
}
.advertisement img {
  width: 200px;
  height: auto;
  float: left;
  margin-right: 20px;
  border-radius: 5px;
}
.advertisement h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
.advertisement p {
  margin-bottom: 5px;
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 125px;
  object-fit: cover;
  mix-blend-mode: normal;
}
