.icoutline-gif-box-icon {
  position: absolute;
  top: 86px;
  left: 359px;
  width: 68px;
  height: 65px;
  overflow: hidden;
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 125px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.p {
  margin: 0;
}
.div2,
.div3,
.div4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 133.33%;
  display: inline-block;
  width: 192px;
  height: 51px;
  mix-blend-mode: normal;
}
.div3,
.div4 {
  left: 472px;
}
.div4 {
  left: 691px;
}
.altero,
.div,
.div1,
.div5 {
  position: absolute;
  height: 58px;
}
.div5 {
  top: 0;
  left: 192px;
  line-height: 133.33%;
  display: inline-block;
  width: 223px;
  mix-blend-mode: normal;
}
.altero,
.div,
.div1 {
  top: 19px;
  left: 536px;
  width: 883px;
}
.altero,
.div {
  top: 0;
  left: 0;
  width: 1419px;
  height: 125px;
}
.altero {
  top: 27px;
  left: 166px;
  line-height: 133.33%;
  display: inline-block;
  width: 203px;
  height: 50px;
}
.group-icon {
  position: absolute;
  height: 36.59%;
  width: 3.81%;
  top: 63.41%;
  right: 39.75%;
  bottom: 0;
  left: 56.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame,
.frame1,
.vector-icon {
  position: absolute;
  top: 0;
  left: 21px;
  width: 1419px;
  height: 164px;
  overflow: hidden;
}
.frame,
.vector-icon {
  top: 35px;
  left: 0;
  width: 1440px;
}
.vector-icon {
  height: 6.41%;
  width: 2.87%;
  top: 23.4%;
  right: 85.45%;
  bottom: 70.19%;
  left: 11.68%;
  max-width: 100%;
  max-height: 100%;
}
.icoutline-gif-box-icon1 {
  position: absolute;
  top: 454px;
  left: 0;
  width: 68px;
  height: 65px;
  overflow: hidden;
}
.div6,
.div7,
.icon {
  position: absolute;
  top: 0;
}
.icon {
  left: 608px;
  border-radius: 100px;
  width: 757px;
  height: 454px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.div6,
.div7 {
  left: 52px;
  line-height: 133.33%;
  display: inline-block;
  width: 362px;
  height: 168px;
}
.div7 {
  top: 214px;
  left: 34px;
  font-size: 40px;
  width: 506px;
  height: 89px;
}
.li {
  margin-bottom: 0;
}
.ul {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.div8,
.div9 {
  display: inline-block;
}
.div8 {
  position: absolute;
  top: 289px;
  left: 10px;
  font-size: 20px;
  line-height: 133.33%;
  width: 578px;
  height: 369px;
}
.div9 {
  width: 278px;
  position: relative;
  font-weight: 200;
  height: 27px;
  flex-shrink: 0;
}
.frame4 {
  top: 527px;
  left: 835px;
  border-radius: 30px;
  background-color: #a8c2ea;
  width: 309px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  color: #020202;
  font-family: var(--font-work-sans);
}
.frame4,
.group-icon1,
.vector-icon1 {
  position: absolute;
  overflow: hidden;
}
.group-icon1 {
  height: 8.36%;
  width: 3.78%;
  top: 36.35%;
  right: 0;
  bottom: 55.29%;
  left: 96.22%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon1 {
  top: 11.7%;
  right: 62.17%;
  bottom: 79.94%;
  left: 34.06%;
}
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  height: 8.36%;
  width: 3.78%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon2 {
  position: absolute;
  top: 76.18%;
  right: 10.84%;
  bottom: 15.46%;
  left: 85.38%;
  overflow: hidden;
}
.vector-icon3 {
  top: 67.83%;
  right: 43.85%;
  bottom: 23.82%;
  left: 52.38%;
}
.frame2,
.frame3,
.vector-icon3,
.vector-icon4 {
  position: absolute;
  overflow: hidden;
}
.vector-icon4 {
  height: 8.36%;
  width: 3.78%;
  top: 91.64%;
  right: 77.97%;
  bottom: 0;
  left: 18.25%;
  max-width: 100%;
  max-height: 100%;
}
.frame2,
.frame3 {
  top: 0;
  left: 0;
  width: 1430px;
  height: 718px;
}
.frame2 {
  top: 221px;
  width: 1440px;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-macondo);
}
a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Ссылки будут иметь цвет текста как у родительского элемента */
}

a:hover {
    text-decoration: none; /* Убираем подчеркивание при наведении */
    color: inherit; /* Ссылки будут иметь цвет текста как у родительского элемента при наведении */
}
/* Стили для ссылок, выглядящих как кнопки */
.button-link {
    display: inline-block;
    padding: 10px 20px; /* Подобрать подходящий размер */
    background-color: #ffffff; /* Цвет фона */
    color: #1e1f22; /* Цвет текста */
    text-decoration: none;
    border: 2px solid #ffffff; /* Обводка */
    border-radius: 5px; /* Закругление углов */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Плавные переходы */
}

.button-link:hover {
    background-color: #0056b3; /* Изменение цвета фона при наведении */
    border-color: #0056b3; /* Изменение цвета обводки при наведении */
}
